@import './TabBar.scss';
@import './TabPane.scss';
.cbd-tabs {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    &.cbd-tabs-top {}
    &.cbd-tabs-left {}
    &.cbd-tabs-right {}
    &.cbd-tabs-bottom {}
}