.cbd-select {
    // 这一层的样式是用来防止自定义position改为absolute
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    .cbd-select-el {
        height: $input-height;
        width: 100%;
        position: relative;
        cursor: pointer;
        &:hover .cbd-select-content {
            border-color: $border-color;
        }
        .cbd-select-content {
            position: relative;
            height: 100%;
            width: 100%;
            padding-right: 31px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 30px;
            border: 1px solid #d9d9d9;
            box-sizing: border-box;
            outline: none;
            &.activity {
                border-color: $border-color;
                box-shadow: 0px 0px 5px 0.1px $border-color;
            }
            .cbd-select-content-textvalue {
                position: absolute;
                padding-left: 11px;
                font-size: $input-font-size;
                &.hidden {
                    display: none;
                }
            }
            input {
                height: 100%;
                width: 100%;
                position: absolute;
                font-size: $input-font-size;
                padding-left: 11px;
                box-sizing: border-box;
                cursor: pointer;
                background: transparent;
                &.show {
                    outline: none;
                    border: none;
                    display: inline-block;
                }
                &.hidden {
                    display: none;
                }
            }
        }
        .icon {
            width: 7px;
            height: 7px;
            right: 10px;
            position: absolute;
            border-bottom: 1px solid #d9d9d9;
            border-right: 1px solid #d9d9d9;
            transform: rotate(45deg);
            transform-origin: 65% 65%;
            top: 10px;
            transition: 0.5s ease
        }
        .icon-clear {
            width: 15px;
            height: 15px;
            right: 28px;
            position: absolute;
            top: 8px;
            background: #bfbfbf;
            color: white;
            border-radius: 25px;
            text-align: center;
            line-height: 13px;
            font-size: 12px;
        }
    }
}

.cbd-trigger-popup-slide-enter,
.cbd-trigger-popup-slide-appear {
    animation-name: cbdSlideUpIn;
    animation-duration: 0.2s;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.cbd-trigger-popup-slide-leave {
    animation-name: cbdSlideUpOut;
    animation-duration: 0.2s;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@keyframes cbdSlideUpOut {
    0% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: scaleY(0.8);
    }
}

@keyframes cbdSlideUpIn {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scaleY(1);
    }
}