.cbd-textarea {
    min-width: 100%;
    max-width: 100%;
    font-size: $input-font-size;
    padding: 4px 11px;
    box-sizing: border-box;
    position: relative;
    outline: none;
    border: 1px solid #d9d9d9; // resize: none;
    display: inline-block;
}

.cbd-textarea:hover {
    border: 1px solid $border-color
}

.cbd-textarea:focus {
    border: 1px solid $border-color;
    box-shadow: 0px 0px 5px 0.1px $border-color;
}